.bg{
position:relative;
z-index:1;
}

.bg::before{
content:'';
display:inline-block;
background-color: rgb(255 247 237);
position:absolute;
left:0;
top:0;
bottom:0;
width:200px;
height:100%;
z-index:2;
transform:skew(-10deg) translateX(-75%);
}